/*
Theme Name: Twenty Sixteen Child - U-centrix
Theme URI: http://www.u-centrix.com
Template: twentysixteen
Description: U-centrix mod -  Twenty Sixteen
Author: U-centrix
Version: 1.0
Text Domain: twentysixteen-child
*/
#masthead{
    padding-bottom: 30px;
}
.content_margin_perc{
    margin-left: 5%; margin-right: 5%;
}
@media print{
    .content_margin_perc{
        margin-left: 0%; margin-right: 0%;
    }

    .hide_on_print{
        display: none;
    }
}

.orange {
    background-color: orange;
}
.main-navigation a {
    padding: 0.65625em 0.875em;
}
.main-navigation {
    margin: 0 0em;
}
.site-branding{
    margin-right:20px;
}
.current-page-ancestor{
    font-weight:bold;
 }

.entry-content h6{
    font-style: normal;
    margin: 10px 0px 0px;
}
.site-info a.link_color{
    color: #007acc;
}
.entry-footer {
    margin-left: 80%!important;
}
.entry-content {
    width:70%!important;
    margin-left: 15%!important;
}
.izracunkolicin {
    font-size:12px;
    text-align: center;
    color:#b78b66;
}